@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway:wght@200;400;500;700&display=swap');
/*Homemade Apple*/@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
/*Cedarville Cursive*/@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
/*Yellowtail*/@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Yellowtail&display=swap');
/*Work Sans*/@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/*Fira Sans*/@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Rowdies:wght@700&display=swap');


:root{
  /*COLOR*/
  --dark-green: #222824; 
  --light-green: #5b6b46;
  --light-grey: #e0e1db;
  --grey-beige: #f2f1ef;
  --sage-green: #aab299;
  --slate-gray: #58595b;
  --golden-brown: #a59451;

  --charcoal: #252425;
  --forest: #303D38;
  --mustard: #C3983D;
  --putty: #C2CCC5;
  --mushroom: #928A74;
}

::-webkit-scrollbar {
  background-color: #f4f4f4;
  width: 7px;
  
}

/* Thay đổi màu của thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: var(--forest);
  border-radius: 15px;
}

/*custom bootrap  */
.container,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-sm, .container {
    max-width: 1320px;
  }
}
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}


/* header */
:root{
  /*COLOR*/
  --dark-green: #222824; 
  --light-green: #5b6b46;
  --light-grey: #e0e1db;
  --grey-beige: #f2f1ef;
  --sage-green: #aab299;
  --slate-gray: #58595b;
  --golden-brown: #a59451;
  --trans-black: RGBA(0, 0, 0, 0.6);

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
}


.logo{
  width: 100px;
  cursor: pointer;
  top: 0;
  left: 0;
}

.nav{
  width: 95%;
  margin: auto;
  /* padding: 0; */
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 100px;
  /* margin: 10px; */
  z-index: 2;
}

.nav.fixed {
  background-color: #333; /* Màu nền khi cuộn */
  position: fixed;  
  top: 0;  
  width: 100%;
  align-items: center;
  height: 10%;
  z-index: 2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.nav ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  font-family: 'Work Sans', cursive;
  text-decoration: none;
  /* color: rgb(0, 0, 0); */
  text-transform: uppercase;
}

.nav ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  z-index: 1;
}


.nav ul li::after{
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.nav ul li:hover::after{
  width: 100%;
}

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.title{
  font-family: 'Homemade Apple', cursive;
}

.content h1{
  font-size: 70px;
  margin-top: 10px;
}

.content p{
  margin: -20px auto;
  font-weight: 100;
  line-height: 25px;
}

.title-2{
  font-size: 20px;
  font-family: 'Work Sans', cursive;
}


.banner button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  /* border-radius: 25px; */
  font-weight: bold;
  /* border: 2px solid var(--sage-green); */
  border: 0; /* Loại bỏ border */
  box-shadow: 0 0 0 2px var(--sage-green);
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.banner .content span{
  background: var(--sage-green);
  height: 100%;
  width: 0%;
  /* border-radius: 25px; */
  position: absolute;
  transition: .5s;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.banner button:hover span{
  width: 100%;
}

.banner button:hover{
  /* border: none; */
  box-shadow: none;
}


.slider{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* border-radius: 10px; */
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 100vh;
}

.navigation-manual {
  position: absolute;
  /* width: 1000px; */
  margin-top: -40px;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-left: 70px;
}

.manual-btn{
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: rgb(255, 255, 255);
}

.navigation-auto{
  position: absolute;
  display: flex;
  padding-top: 200px;
  padding-left: 70px;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}


#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: rgb(255, 255, 255);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background: rgb(255, 255, 255);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background: rgb(255, 255, 255);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background: rgb(255, 255, 255);
}



/*body*/
#block{
    width: 900px;
    margin: auto;
    padding-top:50px ;
    color:#eff1f1;
    z-index:-6;
}

#mainContent .title {
  padding-top: 70px;
    text-align: center;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}

.box{
    border: 2px;
    background-color:var(--forest) ;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius:6px;
}
.hinh{
    padding: 20px;
    width: 370px;
    height: 300px;
}
.padd{
    margin-top: 25px;
}
.row p{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1,5px;
    padding-bottom: 10px;
}
.row h2{
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}
.nud:hover{
    background-color: rgb(238, 17, 17);
    color: rgb(12, 103, 182);
}
.roomtype{
    font-size: 15px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background-color: var(--trans-black);
    padding: var(--inner-padding);
    border-radius: 10px;
    position: relative;
    width: 120px;
    z-index: 1;
    margin-left: 300px;
    margin-top: 17px;
    transition: background 0.3s ease, --bg-y 0.4 ease, --bg-x 0.4s ease;
}
.roomtype:focus {
    outline: none; 
    border: 1px solid #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); 
} 
.number{
    margin-left: 10px;
    font-size: 15px;
    border: 1px solid rgb(175, 231, 253);
    color: white;
    background-color: var(--trans-black);
    padding: var(--inner-padding);
    border-radius: 10px;
    position: relative;
    width: 35px;
    z-index: 1;
}
.number:focus {
    outline: none; 
    border: 1px solid #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); 
} 

/*dien thong tin*/

.nud{
    width: 90px;
    height: 50px;
    /* border-radius: 10px; */
    position: fixed;
    left:1300px;
    float: right;
    margin-top: 570px;
    font-size:20px;
    background-color: rgb(235, 243, 235);
    border: 1px;
    border-radius: 50%;
    box-shadow: 2px;
    transition-duration: 0,4s;
    cursor: pointer;
    /* z-index: -1; */
}
.nux{
    margin-right: 1px;
    z-index: -10;
    
}
#infoForm {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 9999; /* Đặt z-index lớn hơn các phần tử khác để form hiển thị ở trên cùng */
    display: none; /* Ẩn form ban đầu */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
header{
    position: relative;
}
.containers{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-login{
    display: none;
    width:450px;
    height: 550px;
    background-color: #eea0a0;
    border-radius: 18px;
    padding:30px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
.form-login h1{
    margin-bottom: 30px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.form-login button{
    height: 35px;
    width: 70px;
    background-color: #9b59b6;
    border: none;
    color: #f1cccc;
    border-radius: 5px;
}
.btn1{
    color: black;
    cursor: pointer;
}
.btn1:hover{
    background-color: aqua;
}
.btn2{
    color: black;
    cursor: pointer;
}
.btn2:hover{
    background-color: aqua;
}
.form-text{
  padding-top: 2px;
    margin-bottom: 37px;
    position: relative;
    font-family: 'Fira Sans', sans-serif;
}
.form-text-1{
    margin-bottom: 2px;
}
.form-text-1 label{
    padding-bottom: 7px;
}
.error-container {
    color: red;
    font-size: 13px;
    margin-top:0%;
}
.time{
    padding-top: 20px;
}
.form-text input{
    width: 100%;
    height: 30px;
    border:none;
    border-bottom: 2px solid #ccc;
    padding-left:12px;
    
}
.form-text p{
    padding-bottom: 10px;
}
.form-text label{
    position: absolute;
    left: 12px;
    bottom: 37px;
}
/*hien thi thong tin*/
#infoOutput{
    display:none;
    position:fixed;
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 999;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
.output{
    text-align:left;
    justify-content:initial;
    align-items:stretch;
    height: 460px;
    
} 
.show-info{
    width: 420px;
    height: 550px;
    font-size: 17px;
    background-color: #e6a7a7;
    color: black;
    border-radius: 18px;
    padding:40px 40px;
    font-family: 'Fira Sans', sans-serif;
}
.show-info p{
    margin-bottom: 16px;
}
.btn{
    position: relative;
}
.btnOut button{
    font-size: 17px;
    width: 70px;
    height: 35px;
    color: #b9f8a9; 
    background-color: #9b59b6;
    border-radius: 5px;
    border: none;
}
.btn3{
    color: black;
    cursor: pointer;
}
.btn3:hover{
    background-color: rgb(133, 228, 228);
    color: black;
}
.btn4{
    color: black;
    cursor: pointer;
}
.btn4:hover{
    background-color: rgb(133, 228, 228);
    color: black;
}
/* finish */
#ifinish{
    display:none;
    position:fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#ifinish p{
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
}
.outFinish{
    text-align:left;
    justify-content:initial;
    align-items:stretch;
}
.show-ifinish{
    width: 420px;
    height: 550px;
    font-size: 20px;
    background-color: #ffffff;
    color: black;
    border-radius: 18px;
    padding:30px 30px;
}
div h4 b{
    color: black;
    padding-left: 10px; 
    font-family:system-ui,;
}
.outFinish p{
    padding-left: 10px;
    padding-top: 10px;
    font-family:cursive;
    color: rgb(82, 72, 72);
}
.outFinish b{
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    font-family:monospace;
}
.closeFinish{
    margin-bottom: 1px;
    cursor: pointer;
    padding-left: 340px;
}
.btn5{
    font-size: 15px;
    height: 40px;
    width: 100px;
    position: relative;
    margin-left: 250px;
    margin-top: 6px;
    background-color: #d391ec;
    border: 0;
    border-radius: 10px;
    color: black;
    z-index: 2;
    cursor: pointer;
}
.btn5:hover{
    background-color: #99e087;
} 
/* tạo hiệu ứng */

/* footer */
@media (max-height: 800px){
    footer{
        position: static;
    }
}

.footer-main{
    background-color: var(--dark-green);
    box-sizing: border-box;
    padding: 70px 100px;
    margin-top: 80px;
    color: white;
    z-index: 99;
}

.footer-main .footer-left #current-time, .footer-main .footer-left #current-hours{
    font-size: 35px;
    padding-bottom: 20px;
}

.footer-main .footer-left{
    width: 45%;
}

.footer-main .footer-right{
    width: 40%;
    float: right;
    padding-top: 40px;
}

.footer-main .footer-left .top  {
    display: flex;
    justify-content: space-between;
}

.footer-main .footer-left .separator {
    border-bottom: 1px solid rgb(255, 255, 255); 
    height: 2px; 
    width: 30%; 
    margin-left: 45%;
    margin-top: -35px;
}

.footer-main .footer-left .bottom .social ul{
    list-style: none;
}

.footer-left .bottom .social {
    margin-top: 20px; 
}

.footer-main .footer-left .bottom .social ul li {
    display: inline; 
    margin-right: 20px; 
}

.footer-main .footer-left .bottom .social .icon-cus{
    font-size: 20px;
    color: white;
}

.footer-main .footer-left .bottom .copyright{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
}

.footer-main .footer-right .text-name{
    font-size: 17px;
}

.footer-main .footer-right{
    font-size: 15px;
    margin-top: -13%; 
    font-family: 'Fira Sans', sans-serif;
}